NEXT_PUBLIC_SUPABASE_URL=https://hrmhzlomvfxwagwcsqxe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhybWh6bG9tdmZ4d2Fnd2NzcXhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk0NjEwOTgsImV4cCI6MjA1NTAzNzA5OH0.l8rWI2xfqUqEgvDesRaBS5I5RObVQ1o8W-ErjreZkPo